body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 90vw; /* 90% of the viewport width */
    max-width: 1000px; /* Maximum width to prevent it from getting too wide on large screens */
    height: 80vh; /* 80% of the viewport height */
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #3b8ac3;
    color: white;
    padding: 12px; /* Increased padding */
    font-size: 36px; /* Larger font size */
    width: 100%;
}

.wrapper {
    width: 420px;
    background-color: #c8dff1;
    border-radius: 20px;
    height: 360px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.wrapper2 {
    width: 420px;
    background-color: #336d9d;
    border-radius: 20px;
    height: 360px;
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.roww {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.minirow {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.start_btn {
    background-color: #3b8ac3;
    color: white;
    padding: 15px 30px; /* Increased padding */
    font-size: 22px; /* Larger font size */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 30px 0; /* Increased margin */
    width: 90%;
}

.start_btn:hover {
    background-color: #336d9d;
}

.load_btn {
    background-color: #3b8ac3;
    color: white;
    padding: 15px 30px; /* Increased padding */
    font-size: 22px; /* Larger font size */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 30px 0; /* Increased margin */
    margin-right: 30px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 240px;
}


.ok_btn {
    background-color: #e64833;
    color: white;
    font-size: 18px; /* Larger font size */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 15px; /* Increased padding */
    font-size: 22px; /* Larger font size */
    border: 1px solid #ccc;
    border-radius: 6px;
}

.tran_btn {
    background-color: white;
    color: #3b8ac3;
    padding: 15px 30px; /* Increased padding */
    font-size: 22px; /* Larger font size */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 30px 0; /* Increased margin */
    margin-right: 30px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 240px;
}